<form class="new-item" data-ng-submit="create({item: item})">
  <h1>Add New Food Item</h1>
  <ul>
    <li>
      <label>Item Name: <input type="text" class="form-control" placeholder="item name" data-ng-model="item.itemName"></label>
    </li>
    <li>
      <label>Food Type:
        <select data-ng-model="item.itemType" class="field-style field-split align-left form-control">
          <option value="" disabled selected>category</option>
          <option class="" value="vegetable">Vegetable</option>
          <option value="fruit">Fruit</option>
          <option value="dairy">Dairy</option>
          <option value="meat">Meat</option>
          <option value="fish">Fish</option>
        </select>
      </label>
    </li>
    <li>
      <label>Expiration Date: <input type="date" class="form-control" data-ng-model="item.exp" placeholder="yyyy-mm-dd" /></lable>
    </li>
    <li>
      <label>Qty: <input type="number" placeholder="quantity" data-ng-model="item.qty" class="field-style field-split align-left form-control"/></label>
    </li>
    <li>
      <label>Measurement:
        <select data-ng-model="item.qtyType" class="field-style field-split align-right form-control">
          <option value="" disabled selected>measure</option>
          <option value="bunch">bunch</option>
          <option value="cup">cup</option>
          <option value="each">each</option>
          <option value="oz">oz</option>
          <option value="fl oz">fl oz</option>
          <option value="lb">lb</option>
        </select>
      </label>
    </li>
    <li>
      <label>Item Cost: <input type="currency" placeholder="cost" data-ng-model="item.cost" class="field-style field-split align-left form-control"/></label>
    </li>
    <li>
      <label>Storage: <select data-ng-model="item.storageType" class="field-style field-split align-right form-control">
        <option value="" disabled selected style='display:none;'>storage area</option>
        <option value="refrigerator">Refrigerator</option>
        <option value="freezer">Freezer</option>
        <option value="pantry">Pantry</option>
        <option value="cabinet">Kitchen</option>
      </select></label>
    </li>
    <li>
      <textarea class="form-control" data-ng-model="item.caption" placeholder="Add food description here..." rows="5" cols="50"></textarea>
    </li>
    <li>
      <input type="submit" class="btn btn-default" value="Add Item" />
    </li>
  </ul>
</form>
