<footer class="site-footer">
  <ul id="social_icons">
    <li><a href="http://www.facebook.com"><img src="../../img/facebook3.png"></a></li>
    <li><a href="http://www.linkedin.com"><img src="../../img/linkedin1.png"></a></li>
    <li><a href="http://www.github.com"><img src="../../img/github10.png"></a></li>
    <li><a href="http://www.instagram.com"><img src="../../img/instagram15.png"></a></li>
  </ul>
  <p>&copy Freezr 2015 <strong>|</strong> Tell Us What You Think at info@freezrapp.com</p>
  <p><a href="/#/about">About Us</a></p>
</footer>
