<section data-ng-controller="authController">
  <form name="logInForm" data-ng-submit="authSubmit(user)">
    <fieldset>
      <!-- <legend>Sign In</legend> -->
      <div role="alert" class="error-container">
        <span class="alert alert-warning" data-ng-show="logInForm.email.$error.email">Not a valid email!</span>
        <span class="alert alert-danger" data-ng-show="errors.length != 0">{{errors[0].msg}}</span>
      </div>
      <p><label for="email">Email address</label><br />
        <input type="email" class="form-control" required name="email" placeholder="Email" data-ng-model="user.email">
      </p>
      <p><label for="password">Password</label><br />
        <input type="password" class="form-control" required name="password" placeholder="Password" data-ng-model="user.password">
      <p>
      <button type="submit" class="btn btn-default">Log In</button>
    </fieldset>
  </form>
</section>
