<section data-ng-controller="authController">
  <form data-ng-submit="authSubmit(user)">
    <fieldset>
      <legend>Sign In</legend>
      <p><label for="email">Email: </label><br />
        <input type="email" required name="email" data-ng-model="user.email">
      </p>
      <p><label for="password">Password: </label><br />
        <input type="password" required name="password" data-ng-model="user.password">
      <p>
      <button type="submit">Log In</button>
    </fieldset>
  </form>
</section>
