<section class="about-us-view">
  <h1>Freezr App Team</h1>
  <ul>
    <li>
      <h2>Claudia Cuevas, Software Developer</h2>
      <p>She is an aspiring Developer who is in the process of making a career change. With over 6 years of Corporate IT experience, she has decided it was time to take her talents and her eagerness to continue learning into a more competitive, yet rewarding field.</p>
      <p>Learn more about her <a href="http://clcuevas.pythonanywhere.com">here</a>!</p>
    </li>
  </ul>
</section>
