<section class="auth_message">
  <h1>Welcome to Freezr!</h1>
  <p>Freezr App is free and simple way to keep track of your food items and quickly get notified of when certain items will be expiring soon.</p>
  <p>Easily add food items to your inventory, provide it with a name, cost, and expiration date as few examples. You can search through your inventory and quickly click on the item of choice and view recipe examples that you can make with that ingredient.<p>
  <p>Our application is in the beginning stages of development, but we are confident that even in its early stages it will provide you with a level of service you will be most happy with. That's how confident we are! We are quickly working into adding additional features to provide you with an even more pleasant experience, so keep on the look out!</p>
</section>
<section class="auth" data-ng-controller="authController">
  <ul class="nav nav-tabs" role="presentation">
    <li class="tabular" data-toggle="tab" role="presentation" data-ng-repeat="tab in tabs"
      data-ng-class="{active:isActiveTab(tab.url)}"
      data-ng-click="onClickTab(tab)">
      {{tab.title}}
    </li>
  </ul>
  <div data-ng-include="currentTab"></div>
</section>
