<h1>All Food Items In Inventory</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Created On</th>
      <th>Item Name</th>
      <th>Qty</th>
      <th>Cost</th>
      <th>Expires On</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="item in allItems | orderBy: 'exp'">
      <td>{{item.createdAt.slice(0, 10)}}</td>
      <td>{{item.itemName}}</td>
      <td>{{item.qty}} {{item.qtyType}}</td>
      <td>${{item.cost}}</td>
      <td>{{item.exp.slice(0, 10)}}</td>
      <td><button data-ng-click="removeItem(item)">Delete</button></td>
    </tr>
  </tbody>
</table>
