<section class="display-all-view">
  <div class="search input-group">
    <span class="input-group-addon" id="basic-addon2">Search Your Freezr</span>
    <input type="text" class="form-control" placeholder="Start typing here..." data-ng-model="search.$">
  </div>
  <h1>All Food Items In Inventory</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Created On</th>
        <th>Item Name</th>
        <th>Qty</th>
        <th>Cost</th>
        <th>Expires On</th>
        <th>View Item</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="item in allItems | orderBy: 'exp' | filter:search">
        <td>{{item.createdAt | date}}</td>
        <td>{{item.itemName}}</td>
        <td>{{item.qty}} {{item.qtyType}}</td>
        <td>{{item.cost | currency}}</td>
        <td data-ng-style="item.countdown < 1 && {'background-color': 'red'} ||
                          item.countdown <= 5 && {'background-color': 'yellow'}">{{item.exp | date}}</td>
        <td><button class="btn btn-default" data-ng-click="saveSingleFood(item)">View</button></td>
        <td><button class="btn btn-danger" data-ng-click="removeItem(item)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</section>
