<section class="single-food">
  <ul>
    <li data-ng-repeat="item in singleFood">
      <section class="item_wrapper" style="background-image: url({{item.imageURL}})">
      </section>
      <table class="table">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Qty</th>
            <th>Cost</th>
            <th>Expiration</th>
            <th>Caption</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{item.itemName}}</td>
            <td>{{item.qty}} {{item.qtyType}}</td>
            <td>$ {{item.cost}}</td>
            <td>{{item.exp.slice(0, 10)}}</td>
            <td>{{item.caption}}</td>
          </tr>
        </tbody>
      </table>
      <button data-ng-if="!item.editing" data-ng-disabled="!item._id" data-ng-click="editItem(item)">Edit</button>
      <div data-single-food-item-edit-directive
            data-save="saveItem(item)"
            data-button-text="'Save'"
            data-ng-if="item.editing"
            data-item="item">
        <button data-ng-click="cancelEditing(item)">Cancel</button>
      </div>
    </li>
  </ul>
</section>
<section id="recipes">
  <button data-ng-click="toggleRecipes(item.itemName)">Get Recipes</button>
  <ul class="recipes-list">
    <li data-ng-repeat="recipe in displayedRecipes">
      <h3>{{recipe.title}}</h3>
      <a href={{recipe.source_url}}><img src={{recipe.image_url}} /></a>
    </li>
  </ul>
</section>
