<section class="single-food">
  <ul>
    <li data-ng-repeat="item in singleFood">
      <section class="item_wrapper" style="background-image: url({{item.imageURL}})">
      </section>
      <p>Name: {{item.itemName}}</p>
      <p>Qty: {{item.qty}} {{item.qtyType}}</p>
      <p>Cost: ${{item.cost}}</p>
      <p>{{item.caption}}</p>
      <button data-ng-if="!item.editing" data-ng-disabled="!item._id" data-ng-click="editItem(item)">Edit</button>
      <div data-single-food-item-edit-directive
            data-save="saveItem(item)"
            data-button-text="'Save'"
            data-ng-if="item.editing"
            data-item="item">
        <button data-ng-click="cancelEditing(item)">Cancel</button>
      </div>
    </li>
  </ul>
  <div>
    <button data-ng-click="toggleRecipes(item.itemName)">Get Recipes</button>
    <ul>
      <li data-ng-repeat="recipe in displayedRecipes">
        <a href={{recipe.source_url}}><img src={{recipe.image_url}} /></a>
        <h3>{{recipe.title}}</h3>
      </li>
    </ul>
  </div>
</section>
