@media (min-width: 800px) {
  /*********************
        HEADER
  ******************** */
  .site-header {
    width: 80%;
    margin: 10px auto 20px auto;
  }
  .account-info {

  }

  .logo {
    width: 400px;
  }

  /*********************
      AUTHENTICATION
  ******************** */

  /* *******************
    NEW-ITEM DIALOG BOX
  ******************** */
  .new-item ul li label input {
    display: inline-block;
    width: 240px;
    text-align: left;
  }

  .new-item ul li label select {
    display: inline-block;
    text-align: left;
    width: 240px;
  }

  .ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
    opacity: 0.6;
  }

  .ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: absolute;
    width: 50%; /* Default */
    overflow: scroll;

    /* Center the dialog */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #F6F6F6;
    box-shadow: 4px 4px 80px #000;
  }

  .ng-modal-dialog-content {
    padding:10px;
    text-align: left;
  }

  .ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
  }

  form.new-item {
    margin: 5% 25% 5% 23%;
  }

  form.new-item label {
    font-weight: normal;
  }

  .new-item li {
    font-size: 14px;
    padding: 2px;
  }

  /* ******************
      SEARCH
  ******************** */
  .search {
    width: 700px;
    margin-top: 40px;
  }

  /* *******************
        HOMEPAGE
  ******************** */
  .new-item-btn {
    float: right;
    margin-top: -40px;
  }

  #inventory ul:last-child {
    margin-bottom: 750px;
  }

  /* *******************
    HOMEPAGE FOOD VIEW
  ********************* */
  .item_wrapper {
    height: 0;
    width: 15%;
    padding-bottom: 15%;
    margin: 2%;
    border-radius: 10px;
    float:left;
    background-size: cover;
    text-align:center;
    position:relative;
    border: 0.2em solid #ddd;
  }

  .item_wrapper p {
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    text-align: left;
    color: #CC5543;
  }

  .item_wrapper p button {
    color: black;
    padding-left: 3px;
    position: absolute;
    right: 0;
  }

  /* *******************
      SINGLE FOOD VIEW
  ******************* */
  .item-name {
    display: inline-block;
    margin-left: 2%;
  }



  .recipes-list {
    text-align: center;
    margin-top: 50px;
  }

  .recipes-list ul {
    list-style-type: none;
    margin-bottom: 300px;
    padding: 0;
    background-color: #eee;
  }

  .recipes-list li {
    display: inline-block;
    margin: 10px auto 35px auto;
    padding: 5px;
  }

  .recipes-list li h3 {
    width: 300px;
  }

  .recipes-list li a img {
    height: 250px;
    width: 250px;
  }


  .recipes-list ul li:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    position: relative;
    z-index: 5
  }

  /* *******************
    DISPLAY ALL VIEW
  ******************** */
  .display-all-view {
    width: 820px;
    margin: 0 auto 300px auto;
  }

  /* *******************
      ABOUT US PAGE
  ******************** */
  .about-us-view {
    width: 820px;
    margin: 0 auto;
  }

  /*********************
        FOOTER
  ******************** */
  .site-footer {
    width: 80%;
    margin: 30px auto 40px auto;
  }
}
