@media (min-width: 800px) {
  /*********************
        HEADER
  ******************** */
  .site-header {
    width: 80%;
    margin: 0.5px auto 20px auto;
  }
  .account-info {

  }

  .logo {
    width: 400px;
  }
}
