.item_wrapper {
  height: 0;
  padding-bottom: 15%;
  width: 15%;
  margin: 2%;
  border-radius: 10px;
  float:left;
  background-size: cover;
  text-align:center;
  position:relative;
  border: 0.2em solid #ddd;
}
