@media (min-width: 800px) {
  /*********************
        HEADER
  ******************** */
  .site-header {
    width: 80%;
    margin: 10px auto 20px auto;
  }
  .account-info {

  }

  .logo {
    width: 400px;
  }

  /*********************
      AUTHENTICATION
  ******************** */


  /*********************
        FOOTER
  ******************** */
  .site-footer {
    width: 80%;
    margin: 30px auto 40px auto;
  }
}
